extends base.pug


block content
  .container

    .row.justify-content-center
      .col-xl-6.col-lg-8
        a(href='https://v4.map.naver.com/?__pinOnly=false&query=&searchCoord=&menu=location&tab=1&lng=40e4fef4020f6a0cb6dce81c994a3aad&__fromRestorer=true&mapMode=0&mpx=3ed3f7935e11475dcfb70a73db3096aa87cac462be30272e4bc8a8cf83d69e0c19603ada33e69514d2a37b582480d724&pinId=1389648695&pinType=site&lat=12b4f8ea411e626c5e6b556c6f0e5cbb&dlevel=12&enc=b64' target='_blank')
            img(src='http://prt.map.naver.com/mashupmap/print?key=p1589294771987_-1954007782' width='460' height='340' alt='지도 크게 보기' title='지도 크게 보기' border='0').img-fluid
      div(height='340').col-xl-6.col-lg-4.py-3
        .card.border-left-primary.shadow.pt-4
          .card-body
            h4.text-primary 찾아오시는길
            div.ml-2.mt-3 대전광역시 서구 도안북로118번길 81 101호
          .card-body
            h4.text-primary 연락처
            div.ml-2.mt-3 ☎ 010-0000-1111
            p.small.text-black.mt-3.ml-1 고장 및 문의시 연락바랍니다.