// Core plugin JavaScript
script(src='/jquery-easing/jquery.easing.min.js')

// Custom scripts for all pages
script(src='/js/sb-admin-2.min.js')
script(src='/js/script.js')
script(src='/js/bootstrap-datepicker.js')
// Page level plugins
//script(src='/chart.js/Chart.min.js')
